<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - SB Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="ext/angular-signin/angular-signin.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SB Admin Angular</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="/"><i class="icon-dashboard"></i> Dashboard</a></li>
            <li><a href="/charts"><i class="icon-bar-chart"></i> Charts</a></li>
            <li><a href="/tables"><i class="icon-table"></i> Tables</a></li>
            <li><a href="/forms"><i class="icon-edit"></i> Forms</a></li>
            <li><a href="/typography"><i class="icon-font"></i> Typography</a></li>
            <li><a href="/bootstrap-elements"><i class="icon-desktop"></i> Bootstrap Elements</a></li>
            <li><a href="/bootstrap-grid"><i class="icon-wrench"></i> Bootstrap Grid</a></li>
            <li><a href="/blank-page"><i class="icon-file-alt"></i> Blank Page</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-collapse"></i> Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown Item</a></li>
                <li><a href="#">Another Item</a></li>
                <li><a href="#">Third Item</a></li>
                <li><a href="#">Last Item</a></li>
              </ul>
            </li>
          </ul>

          <div data-ng-controller="UserStatusController">
             <div class="navbar-form navbar-right" ng-hide="isLoggedIn">
                <button class="btn btn-default" data-toggle="modal" data-target="#sign-in">Sign in</button>
             </div>

            <ul class="nav navbar-nav navbar-right navbar-user" data-ng-show="isLoggedIn">
              <li class="dropdown messages-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope"></i> Messages <span class="badge">{{messages.length}}</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">{{messages.length}} New Messages</li>
                  <li class="message-preview" ng-repeat="message in messages">
                    <a href="#">
                      <span class="avatar"><img src="http://placehold.it/50x50"></span>
                      <span class="name">{{message.sender.name}}:</span>
                      <span class="message">{{message.body}}</span>
                      <span class="time"><i class="icon-time"></i> {{message.date}}</span>
                    </a>
                  </li>
                 
                  <li class="divider"></li>
                  <li><a href="/inbox">View Inbox <span class="badge">{{messages.length}}</span></a></li>
                </ul>
              </li>
              <li class="dropdown alerts-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bell-alt"></i> Alerts <span class="badge">{{alert.length}}</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                  <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                  <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                  <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                  <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                  <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                  <li class="divider"></li>
                  <li><a href="#">View All</a></li>
                </ul>
              </li>
              <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{user.username}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                  <li><a href="#"><i class="icon-envelope"></i> Inbox <span class="badge">{{messages.length}}</span></a></li>
                  <li><a href="#"><i class="icon-gear"></i> Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0);" data-ng-click="logout()"><i class="icon-power-off"></i> Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">
          <div ng-view></div>
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <div class="modal fade" id="sign-in" data-ng-controller="SignInController">
     <form class="form-signin" data-ng-submit="signin()" name="form-signin">
       <div class="modal-dialog">
              <div class="modal-content">
               <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Sign in</h4>
               </div>
               <div class="modal-body">
                              <div class="alert alert-dismissable alert-danger" data-ng-show="message">
                               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                               {{message}}
                              </div>
                              <div class="control-group" data-ng-class="{error: form-signin.username.$invalid}">
                                      <input type="text" class="form-control" placeholder="Email address" required data-ng-model="username">
                              </div>
                              <div class="control-group" data-ng-class="{error: form-signin.password.$invalid}">
                                      <input type="password" class="form-control" placeholder="Password" required data-ng-model="password">
                              </div>
                              <label class="checkbox">
                               <input type="checkbox" value="remember-me" data-ng-model="rememberme"> Remember me
                              </label>
               </div>
               <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" data-loading-text="Signing in..." data-ng-click="signin()" data-ng-disabled="isClean() || form-signin.$invalid">Sign in</button>
               </div>
              </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
</form>
</div><!-- /.modal -->

    <!-- Bootstrap core JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="js/tablesorter/jquery.tablesorter.js"></script>
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="js/flot/jquery.flot.js"></script>
    <script src="js/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/flot/jquery.flot.resize.js"></script>
    <script src="js/flot/jquery.flot.pie.js"></script>

    <!--angularjs -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>

    <!-- app -->
    <script src="ext/angular-signin/signin.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/controllers.js"></script>

  </body>
</html>
